.clear {
    clear: both
}

.loading {
    display: none
}

.colmask {
    position: relative;
    clear: both;
    width: 1000px;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    min-height: 730px
}

.leftmenu {
    background: #CCC;
    overflow: hidden
}

.leftmenu .colright {
    float: left;
    width: 200%;
    position: relative;
    left: 235px;
    height: 100%
}

.leftmenu .col1wrap {
    float: right;
    width: 50%;
    position: relative;
    right: 235px;
    height: 100%
}

.leftmenu .col1 {
    margin: 0 0 0 250px;
    position: relative;
    right: 100%;
    overflow: hidden;
    height: 100%
}

.leftmenu .col2 {
    float: left;
    width: 250px;
    position: relative;
    right: 235px;
    height: 100%;
    border-top: 0 solid #FFF;
    border-right: 1px solid #FFF;
    background: #ebe8de;
    min-height: 730px
}

.address {
    font-size: 14px
}

#map-canvas,
#map_canvas {
    height: 645px
}

#menu-logo {
    color: #FFF;
    background-color: #6794bc;
    background-image: url('../images/app-logo.png');
    background-position: center center;
    width: 230px;
    height: 82px;
    padding: 0 10px;
    text-align: center;
    font-size: 16px;
    text-shadow: 2px 2px 2px #000;
    border-bottom: 1px solid #fff;
    line-height: 80px
}

#polling-place,
#polling-place-main {
    height: 630px
}

#polling-place .ui-accordion .ui-accordion-content {
    padding: 0
}

#download-ballot-info,
#download-ballot-intro,
#elected-officials-intro,
#polling-place-intro,
#polling-place-info,
#maps-intro,
#maps-info,
#maps-custom-info {
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px
}

#download-ballot-info,
#download-ballot-intro,
#elected-officials-intro,
#polling-place-intro,
#maps-intro,
#maps-info,
#maps-custom-info {
    line-height: 175%
}

#polling-place-info {
    width: 210px;
    height: 100px
}

#polling-info-card {
    background: #fff;
    padding: 0 25px;
    color: #4d4d4d
}

#polling-info-card-disclaimer {
    background: #fff;
    padding: 0 15px 15px 15px;
    line-height: 175%;
    color: #4d4d4d;
    border: #9d9d9d 1px solid;
    margin: 15px
}

div#polling-header {
    margin-left: 15px;
    margin-top: 15px
}

#elected-officials h3 {
    margin: 10px 0 10px 20px
}

#download-ballot h3 {
    margin: 10px 0 10px 20px
}

#elected-officials-info {
    display: none
}

#elected-officials-intro h3 {
    margin-left: 0
}

#download-ballot-intro h3 {
    margin-left: 0
}

#download-ballot-info h3 {
    margin-left: 0
}

#maps {
    display: none;
    max-height: 647px;
    overflow-y: auto
}

#maps hr {
    margin: 22px 10px
}

#maps-intro,
#maps-info,
#maps-custom-info,
#elected-officials-intro {
    margin-right: 15px
}

#maps-custom-info h4 {
    margin-top: 10px
}

#maps-info {
    display: none
}

.select2-choices {
    width: 200px
}

.select2-search-field input {
    min-width: 150px
}

.select2-result-label {
    font-family: 'Verdana', 'Geneva', 'Arial', 'Helvetica', Sans-Serif;
    font-size: 10px
}

#target {
    width: 510px;
    margin-left: 12px;
    margin-top: -2px;
    padding: 5px;
    border: 1px solid #ddd;
    background: -moz-linear-gradient(center top, #fff, #eee 1px, #fff 20px);
    background: -webkit-gradient(linear, left top, left 20, from(#fff), color-stop(5%, #eee) to(#fff));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

#panel {
    background: #6794bc;
    color: #FFF;
    border-top: 0 solid #fff;
    border-bottom: 1px solid #fff;
    height: 45px
}

#panel p {
    line-height: 45px;
    margin-left: 20px
}

#panel input {
    color: #59564f
}

#nav {
    background: #6794bc;
    border-bottom: 1px solid #fff;
    height: 36px
}

#nav ul {
    list-style-type: none;
    line-height: 36px
}

#nav ul li {
    display: inline;
    line-height: 36px;
    padding: 11px 0;
    margin-right: -4px;
    border-right: 1px solid #fff;
    text-align: center
}

#nav ul li.active,
#nav ul li:hover {
    background: #aaa797;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff
}

#nav ul li#print-map {
    position: absolute;
    right: 0;
    border-top: 0;
    padding: 0
}

#nav ul li span {
    text-decoration: none;
    color: #fff;
    padding: 0 20px;
    line-height: 36px
}

.accordion {
    margin: 0
}

.accordion dt {
    background: #aaa797
}

.accordion dd {
    color: black
}

.office-level-accordion dt {
    padding: 10px 20px;
    color: #fff
}

.office-accordion dt {
    background: #c4c4c4;
    color: #666
}

.office-level-accordion a {
    color: #fff
}

.office-accordion a {
    color: #666
}

.office-accordion dt {
    padding: 5px 25px
}

.office-accordion dd {
    padding: 10px 30px 10px 30px;
    height: auto;
    max-height: 210px;
    overflow-y: scroll;
    position: relative
}

.office-accordion dd:last-of-type {
    border-bottom: 2px solid #fff !important
}

.office-accordion dd a {
    color: blue
}

.col2 hr {
    margin: 10px 0;
    border: #000 1px dashed;
    border-style: none none dashed
}

.accordion dt,
.accordion dd {
    border: 1px solid white;
    border-bottom: 0;
    margin: 0
}

.accordion dt:last-of-type {
    border-bottom: 1px solid white
}

.accordion dt a,
.accordion dd a {
    display: block;
    text-decoration: none
}

.accordion dd {
    border-top: 0;
    font-size: 10px;
    color: #4d4d4d
}

.accordion dd:last-of-type {
    border-top: 1px solid white;
    position: relative;
    top: -1px
}

.more-info-div {
    display: none
}

span.hide-more-link {
    position: absolute;
    top: 10px;
    left: 5px
}

span.hide-more-link,
span.drop-office-pin,
span.more-info {
    color: blue;
}

span.hide-more-link:hover,
span.drop-office-pin:hover,
span.more-info:hover {
    cursor: pointer;
}

#polling-place-directions-container {
    max-height: 600px
}

#polling-place-directions-container span.directions {
    color: blue;
    padding: 3px;
    text-decoration: none
}

#polling-place-directions-container span.directions:hover {
    cursor: pointer;
}

.directions-text {
    display: none;
    overflow-y: auto;
    max-height: 95%;
    padding: 10px 4px 4px 4px
}

.directions-text td {
    vertical-align: top
}

.directions-text td.step-num {
    width: 7%;
    color: #999
}

.directions-text td.distance {
    width: 25%;
    color: #999
}

.directions-text li {
    width: 100%
}

.directions-text-segment {
    width: 75%;
    margin-top: 5px
}

.directions-text-segment-distance {
    width: 25%;
    margin-top: 5px
}

#polling-place-directions-container a.directions.active {
    color: #fff;
    background: blue
}

@media print {
    html,
    body {
        height: auto
    }
    #map-canvas,
    #map_canvas {
        height: 650px
    }
}

.ui-dialog {
    width: 500px !important
}

.ui-dialog-titlebar {
    background: #03324b none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    padding: 6px 20px
}

